/*
Custom Css
*/
.clink:hover{
    color:rgb(1, 1, 51);
    text-decoration: none;
}
.clink{
    color: blue;
    text-decoration: none;
}
*{margin: 0; padding: 0;}
.section-forms{
    display:flex ;
    margin-left: 5vh;
}
.sections{
    color: #ffff;
    background-color: #0f0f0f;
    width: auto;
    padding: 15px 40px;
    list-style-type: none;
    margin-top: -10vh;
    border-radius: 5px;
}




