/*
Custom Css
*/
.clink:hover{
    color:rgb(1, 1, 51);
    text-decoration: none;
}
.clink{
    color: blue;
    text-decoration: none;
}
*{margin: 0; padding: 0;}
ul.sections{
    color: #ffff;
    background-color: #0f0f0f;
    display: inline-block;
    width: auto;
    list-style-type: none;
    margin-left: 8vh;
}
ul.sections li{
    display: inline-block ;
    background-color:  #303946;
    padding: 15px 40px;
    position: relative;
    margin: 0.3vh 0.3vh;
}
ul.sections li.first{
    margin-left: -4.7vh;
}
ul.sections li:hover{
    background-color: #1f252e;
}


ul.sections li:hover ul li{
    display: block;
    position: relative;
}
ul.submenu{
     position: absolute;
     display: block;
     margin-left: -75px;
     margin-top: 18px;
     width:max-content ;
 }
 ul.submenu li{
    display: none;
    position: relative;
}