<!DOCTYPE html>
<html lang="en">

<head>
    <title>Alumni IIT Jammu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='home_assets/img/iitlogo.png') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='home_assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='home_assets/css/templatemo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='home_assets/css/custom.css') }}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{{ url_for('static',filename='home_assets/css/fontawesome_min.css') }}">

</head>

<body>
    

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="/">
                Alumni Connect
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">  </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">  </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/"> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"> Logout </a>
                        </li>
                    </ul>
                </div>
                <form role="form" action="/index" method="POST">
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" id="inputMobileSearch" placeholder="Search.." >
                            <div class="input-group-text" >
                                <i class="fa fa-fw fa-search" ></i>
                            </div>
                        </div>
                    </div>
                
                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-dark mr-2"></i>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="#" >
                    
                    </a>
                </form>
            </div>

        </div>
        </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal search bar -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/" method="POST" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="search" placeholder="Search...">
                    <button type="submit" target="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start iit jammu -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{{ url_for('static', filename='home_assets/img/iitj pic.JPG')}}" style="width: 500px;height: 300px;" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>IIT Jammu</b> Alumni Directory</h1>
                                <p>
                                    Welcome to the Alumni Directory of IIT Jammu. To naviate to the details of any alumni, please use
                                     the <a rel="sponsored" class="text-success" href="#" target="_blank">Search</a> icon in the top bar. 
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{{ url_for('static', filename='home_assets/img/director office.JPG')}}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">About Alumni Services</h1>
                                <p>
                                    IIT Jammu Alumni Association is going to be established in the year 2020 with an aim to foster the relationship
                                     and to strengthen the ties between with <strong>IIT Jammu and its Alumni.</strong> 

                                    We’re committed to helping all alumni thrive and connect, whether through career guidance, special events,
                                     or our clubs and societies that will span the globe.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner -->
<!-- individual details -->

    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    {% for alumni in data %}	
									
									<h1 class="feature-title" >{{alumni.name}} </h1><p><br> Email: <a target="_blank" href="mailto:{{alumni.email}}" >{{alumni.email}}</a>
                                         <br>Phone: {{alumni.phone}}<br>LinkedIn: <a target="_blank" href="{{alumni.linkedin_id}}">{{alumni.linkedin_id}}</a><br>Status: {{alumni.status}}</p>

                                         <br>
                                         <br>
                                        
									
					{% endfor %}
                    
                </div>
                <div class="col-md-4">
                    {% for alumni in data %}	
										<img src="{{url_for('static', filename='home_assets/img/' + alumni.profile_pic)}}" alt="" style="width: 225px;height: 225px;">

                                        <br>
                                        <br>
                                        <br>
                                        <br>
									
									
					{% endfor %}
                    
                </div>
            </div>
        </div>
    </section>




    
   

    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Reach Us</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Indian Institute of Technology Jammu Jagti, NH-44 , PO Nagrota Jammu - 181 221 J&K, India
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:0191-2570381">0191-2570381</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:alumniconnect@iitjammu.ac.in">alumniconnect@iitjammu.ac.in</a>
                        </li>
                    </ul>
                </div>

                
            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" style="color: whitesmoke ;" id="subscribeEmail" placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Subscribe</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-center text-light">
                            Copyright &copy; 2022 IIT Jammu
                            | Designed by Devin and Anamika
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{{url_for('static', filename='home_assets/js/jquery-1.11.0.min.js')}}" ></script>
    <script src="{{url_for('static', filename='home_assets/js/jquery-migrate-1.2.1.min.js')}}" ></script>
    <script src="{{url_for('static', filename='home_assets/js/bootstrap.bundle.min.js')}}"> </script>
    <script src="{{url_for('static', filename='home_assets/js/templatemo.js')}}" ></script>
    <script src="{{url_for('static', filename='home_assets/js/custom.js')}}" ></script>

    <!-- End Script -->
</body>

</html>